
input[type=text]{
    width: 175px;
}
.form_citas{
    width: 300px;
}

select, textarea, input[type=date]{
    width: 100%;
}

.texto_rojo{
    color: red;
}

.libre{
    background-color: greenyellow;
    padding: 5px;
    width: 100px;
    border: solid 1px black;
}


.ocupado{
    background-color: red;
    padding: 5px;
    width: 100px;
    border: solid 1px black;
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: green;
}
.table-striped tbody tr.highlight td {
    background-color: red;
}