.datoscliente{
    float: left;
    display: inline-block;
    margin-left: 125px;
}

input[type=date]{
    width: 175px;
}

input[type=text]{
    width: 175px;
}
.form_citas{
    width: 300px;
}
.horariocita{
    float: right;
    display: inline-block;
    margin-right: 125px;
    margin-top: 20px;
    text-align: center;
}

.libre{
    background-color: greenyellow;
    padding: 5px;
    width: 100px;
    border: solid 1px black;
}


.ocupado{
    background-color: red;
    padding: 5px;
    width: 100px;
    border: solid 1px black;
}