/*Reseteamos el margen de html y body*/
html,body{ margin: 0; height: 100vh;}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) {

    #nombre, #horasLibres{
        width: 100%;
    }
    
    select, textarea, input[type=date], input[type=email]{
        width: 210px;
    }
}