/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-nov-2020, 17:34:05
    Author     : elearning
*/

.contenedor_columna{
    font-size: 20px;
    background-color: white;
    padding-top: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.lema{
    font-size: 32pt;
}

.logo_index{
    height: 150px;
    margin-bottom: 25px;
    margin-top: 25px;
}


.imgModelo{
    height: 50%;
}
table{
    margin: 0 auto;
}
div{
    text-align: center;
}

.linea{
    border: 2px solid black;
}

.negro{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
}

.tarjetas{
    display: flex;
}

.clases{
    margin: 7px;
}

.contenido{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.caption{
    background-color: #111;
    color: #FFF;
    padding: 5px;
    font-size: 41px;
    color: white;
    letter-spacing: 10px;
    width: 80%;
}

.caption_2{
    background-color: #111;
    color: #FFF;
    padding: 18px;
    font-size: 41px;
    letter-spacing: 10px;
    width: 80%;
}

.caption_3{
    background-color: #111;
    color: #FFF;
    padding: 18px;
    font-size: 31px;
    letter-spacing: 10px;
}

p.texto{
    display: block;
    padding-top: 65px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
p.texto2{
    display: block;
    padding-top: 40px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.parallax {
    /* The image used */
    background-image: url("../img/barbas.jpg");

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_2 {
    /* The image used */
    background-image: url("../img/cortepelo.jpg");

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_3 {
    /* The image used */
    background-image: url("../img/degradado.jpg");

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 240px;
}


/*Small devices (landscape phones, 576px and up)*/
/*@media screen and (min-width: 375px) {

    #cajacookies{
        font-size: 8px;
    }

    #cajacookies > p > button{
        font-size: 8px;
    }



    .caption_2{
        background-color: #111;
        color: #FFF;
        padding: 18px;
        font-size: 20px;
        letter-spacing: 10px;
        width: 80%;
    }

    .caption_3{
        background-color: #111;
        color: #FFF;
        padding: 18px;
        font-size: 31px;
        letter-spacing: 10px;
        width: 80%;
    }

}*/

/*Medium devices (tablets, 768px and up)*/
/*@media screen and (min-width: 768px) {  

    #cajacookies{
        font-size: 10px;
    }

    #cajacookies > p > button{
        width: 25%;
        font-size: 8px;
    }

    .caption{
        background-color: #000;
        color: #FFF;
        padding: 5px;
        font-size: 20px;
        color: white;
        letter-spacing: 10px;
        width: 80%;
    }

    .caption_2{
        background-color: #000;
        color: #FFF;
        padding: 18px;
        font-size: 13px;
        letter-spacing: 10px;
        width: 80%;
    }

    .caption_3{
        background-color: #000;
        color: #FFF;
        padding: 18px;
        font-size: 20px;
        letter-spacing: 10px;
        width: 80%;
    }

}*/
