html,main, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.login{
    margin-top: 40px;
    color: lightgray
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/*Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {  

}