/*Medium devices (tablets, 768px and up)*/
/*@media (max-width: 768px) {  
    .localizacion{
        display: flex;
        flex-direction: column;
        align-self: auto;
        flex: 0 1 auto;
        width: 40%;
    }
    
    iframe{
        width: 100%;
    }
    
    .horario{
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        align-self: auto;
        width: 40%;
    }
}*/

textarea{
    width: 100%;
}