.localizacion{
    float: left;
    display: inline-block;
    margin-top: 75px;
    margin-left: 75px;
}
.horario{
    float: right;
    display: inline-block;
    margin-right: 80px;
    margin-top: 20px;
}
.contacto{
    width: 300px;
}