.localizacion{
    float: left;
    display: inline-block;
    margin-top: 55px;
    margin-left: 25px;
    width: 200px;
}
.horario{
    float: right;
    display: inline-block;
    margin-right: 25px;
    margin-top: 20px;
    width: 300px;
}
.contacto{
    width: 300px;
}