/*Reseteamos el margen de html y body*/
html,body{ margin: 0; height: 100vh;}
/* declaramos un color y una altura full*/
.div_contenedor{
    height: 100vh;
}
/* declaramos un color, un ancho y una altura*/
.div_centrado{
    width: 400px;       
    height: 400px;
    margin: 0 auto;
}

.patrocinadores{
    width: 150px;
}

.izquierda{
    display: inline-block;
    float: left;
    margin-right: 300px;
}

.derecha{
    display: inline-block;
    float: right;
    margin-left: 300px;
}

.tarifas{
    margin-top: 20px;
}

.logo{
    width: 50px; height: 50px;
}
.redes{
    width: 50px; 
    height: 50px;
}
nav{
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    height: 10%;
    background-color: #ffffff;
}

main{
    color: black;
    position: relative;
    top: 80px;
    min-height: 800px;
    background-color: whitesmoke;
    text-align: center;
    height: 100vh;
    width: 80%;
    float: left;
}
aside{
    width: 20%; 
    float: right;
    position: relative;
    margin-top: 90px;
    min-height: 800px;
    text-align: center;
    background-color: white;
}
footer{
    height: 50px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}