/*Reseteamos el margen de html y body*/
html,body{ margin: 0; height: 100vh;}
/* declaramos un color y una altura full*/
.div_contenedor{
    height: 100vh;
}
/* declaramos un color, un ancho y una altura*/
.div_centrado{
    width: 400px;       
    height: 400px;
    margin: 0 auto;
}

.img_login{
    width: 50px;
}

img{
    padding: 3px;
    border: solid 1px black;
    background-color: white;
    border-radius: 25px;
}

table{
    width: 100%;
}

.cuerpo{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.patrocinadores{
    width: 150px;
}

.izquierda{
    display: inline-block;
    float: left;
    margin-left: 25px;
    text-align: center;
    justify-content: center;
}

.derecha{
    display: inline-block;
    float: right;
    margin-right: 25px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.tarifas{
    margin-top: 20px;
}

.logo{
    width: 50px; height: 50px;
}
.redes{
    width: 50px; 
    height: 50px;
}
nav{
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    height: 10%;
    background-color: #ffffff;
}

main{
    color: black;
    float: left;
    top: 100px;
    min-height: 800px;
    background-color: whitesmoke;
    text-align: center;
    width: 80%;
}
aside{
    top: 10px;
    width: 20%; 
    float: right;
    position: relative;
    min-height: 800px;
    text-align: center;
    background-color: white;
}
footer{
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0px;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: -200px;
}