html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    /*width: 33.3%;*/
    display: inline-block;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 19px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }

    main{
        height: 170%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) {
    .tarifas{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: 100%;
    }

    #lista2 {
        counter-reset: li; 
        list-style: none; 
        *list-style: decimal; 
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

    #lista2 ol {
        margin: 0 0 0 2em; 
    }

    body > main > div > div.row.text-center > div > div:nth-child(1) > ul > li:nth-child(3) > img{
        width: 100%;
    }
    body > main > div > div.row.text-center > div > div:nth-child(2) > ul > li:nth-child(3) > img{
        width: 100%;
    }
    body > main > div > div.row.text-center > div > div:nth-child(3) > ul > li:nth-child(3) > img{
        width: 100%;
    }

    main{
        height: 320%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #lista2 li{
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;   
    }

    #lista2 li:hover{
        background: #eee;
    }

    #lista2 li:hover:before{
        transform: rotate(360deg);  
    }

    #lista2 li:before{
        content: counter(li);
        counter-increment: li;
        position: absolute; 
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .tarifas{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: 100%;
    }

    #lista2 {
        width: 50%;
        counter-reset: li; 
        list-style: none; 
        *list-style: decimal; 
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

    #lista2 ol {
        margin: 0 0 0 2em; 
    }



    .columns {
        float: left;
        width: 33.3%;
        display: inline-block;
        padding: 8px;
    }

    main{
        height: 220%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #lista2 li{
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;   
    }

    #lista2 li:hover{
        background: #eee;
    }

    #lista2 li:hover:before{
        transform: rotate(360deg);  
    }

    #lista2 li:before{
        content: counter(li);
        counter-increment: li;
        position: absolute; 
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
}


/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
}

@media (orientation: landscape) {

    .price .header {
        background-color: #111;
        color: white;
        font-size: 17px;
    }
}