html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
table, td, tr, th{
    border: 2px solid black;
}

thead{
    
}

input[type=text]{
    width: 100%;
}

tr{
    background-color: lightgray;
}

tr:hover{
    background-color: grey;
    color: white;
}