table, td, tr, th{
    border: 2px solid black;
}

thead{
    
}

tr{
    background-color: lightgray;
}

tr:hover{
    background-color: grey;
    color: white;
}

input, select{
    width: 100%;
}